/* Bebas Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Global */
.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

.penguin-bg-green {
  background-color: #a4bc46;
}

.penguin-shadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}
